<div class="row">
  <div class="large-12 columns">
    <h1>Speakers and the number of talks gave in <%= @year %></h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <ul class="inline-list">
      <li><%= link_to '2016', by_year_path(2016) %></li>
      <li><%= link_to '2015', by_year_path(2015) %></li>
      <li><%= link_to '2014', by_year_path(2014) %></li>
      <li><%= link_to '2013', by_year_path(2013) %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <p><%= @total_talks %> talks in <%= @year %>.</p>
    <table>
      <thead>
        <tr>
          <th>Speaker</th>
          <th>Talks</th>
        </tr>
      </thead>
      <tbody>
      <% @speakers.each do |speaker| %>
        <tr>
          <td><%= speaker[:name] %></td>
          <td><%= speaker[:talks].count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
